/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PARAMETER VALUES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    input = "samplesheet.csv"
    buffer_size = [ 5000, 100000 ]
    forks = [ 1, 24 ]
    repeat    = 2 // times to repeat each run
    cache     = "/nfs/production/flicek/ensembl/variation/data/VEP"
    cache_version = 115
    fasta     = "/nfs/production/flicek/ensembl/variation/data/fasta/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    vcf       = "/nfs/production/flicek/ensembl/variation/data/PlatinumGenomes/NA12878.vcf.gz"
    assembly  = "GRCh38"
    species   = "homo_sapiens"
    verbose = false
}

process {

    withName: 'ENSEMBLVEP_VEP' {
        ext.args   = ""
        time = { 8.h * task.attempt }
        memory = { 48.GB * task.attempt }
    }

}

profiles {
    test {
        params {
            input = "samplesheet-test.csv"
            buffer_size = [ 5000 ]
            forks = [ 1 ]
            verbose = true
        }
        executor {
            name = 'local'
        }
    }

    codon {
        process {
            maxRetries    = 3
            errorStrategy = { task.exitStatus == 0 ? "retry" : "terminate" }
            cache         = "lenient"
            afterScript   = "sleep 60"
            resourceLimits = [
                cpus: 48,
                memory: 360.GB,
                time: 240.h
            ]
        }
        executor {
            name = 'slurm'
            queueSize       = 2000
            submitRateLimit = "10/1sec"
            exitReadTimeout = "30 min"
            jobName         = {
                task.name
                    .replace("[", "(")
                    .replace("]", ")")
                    .replace(" ", "_")
            }
        }
    }
}

trace {
    enabled = true
    file = "reports/trace.txt"
    overwrite = true
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    file = "reports/flowchart.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "reports/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "reports/report.html"
    overwrite = true
}
