/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PARAMETER VALUES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    input = 'samplesheet.csv'
    outdir = 'reports'
    publish_dir_mode = 'copy'
    buffer_size = [ 5000, 10000, 50000, 100000 ]
    forks = [ 1, 8, 24, 48 ]
    options = [ "", "--everything" ]
    repeat    = 10 // times to repeat each run
    cache     = "/nfs/production/flicek/ensembl/variation/data/VEP"
    cache_version = 115
    fasta     = "/nfs/production/flicek/ensembl/variation/data/fasta/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    vcf       = "/nfs/production/flicek/ensembl/variation/data/PlatinumGenomes/NA12878.vcf.gz"
    assembly  = "GRCh38"
    species   = "homo_sapiens"
    verbose = false
    debug = false
}

process {

    withName: 'ENSEMBLVEP_VEP' {
        time = { 12.h * task.attempt }
        memory = { 48.GB * task.attempt }
    }

}

process {

    withName: 'COLLECT_PARAMS_DATA' {
        publishDir = [
            [
                path: params.outdir,
                mode: params.publish_dir_mode,
                pattern: 'task-params.tsv'
            ],
        ]
    }

}

profiles {
    test {
        params {
            input = "samplesheet-test.csv"
            buffer_size = [ 5000, 10000 ]
            forks = [ 1 ]
            options = [ "", "--everything" ]
            repeat = 1
            verbose = true
        }
        executor {
            name = 'local'
        }
    }

    codon {
        process {
            maxRetries    = 3
            errorStrategy = { task.exitStatus in (137..140) + 255 ? "retry" : "finish" }
            cache         = "lenient"
            afterScript   = "sleep 60"
            resourceLimits = [
                cpus: 48,
                memory: 360.GB,
                time: 240.h
            ]
        }
        executor {
            name = 'slurm'
            queueSize       = 500
            submitRateLimit = "10/1sec"
            exitReadTimeout = "30 min"
            jobName         = {
                task.name
                    .replace("[", "(")
                    .replace("]", ")")
                    .replace(" ", "_")
            }
        }
    }
}

trace {
    enabled = true
    file = "reports/trace.txt"
    overwrite = true
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    file = "reports/flowchart.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "reports/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "reports/report.html"
    overwrite = true
}
