/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    PARAMETER VALUES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    repeat    = 10 // times to repeat each run
    cache     = "/nfs/production/flicek/ensembl/variation/data/VEP"
    cache_version = 115
    fasta     = "/nfs/production/flicek/ensembl/variation/data/fasta/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
    vcf       = "/nfs/production/flicek/ensembl/variation/data/PlatinumGenomes/NA12878.vcf.gz"
    assembly  = "GRCh38"
    species   = "homo_sapiens"
}


//includeConfig "conf/codon.config"
//includeConfig "conf/process.config"

process {

    withName: 'ENSEMBLVEP_VEP' {
        ext.args   = "--offline --vcf --compress_output bgzip"
        memory = 4.GB
    }

}

trace {
    enabled = true
    file = "reports/trace.txt"
    overwrite = true
    //fields = 'task_id,name,status,exit,realtime,%cpu,rss'
}

dag {
    enabled = true
    file = "reports/flowchart.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "reports/timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "reports/report.html"
    overwrite = true
}
